html, body {
  background-color: blue;
  font-family: 'Inter', monospace;
}

body {
  margin: 24px;
}

h1 {
  font-size: 28px;
  line-height: 40px;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
}

h2 span {
  line-height: 32px;
}

h1, h2, a {
  color: white;
}

header h1 {
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 48px;
  line-height: 60px;
  margin: 72px 0 12px 0;
}

/*TODO add other link states */

a {
  text-decoration: none;
}

a.work {
  border-bottom:1px dotted white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0;
}

li:first-child {
  border-top:1px dotted white;
}

a.work h1 {
  font-weight: 600;
  margin-bottom: 4px;
  width: 900px;
}

a.work:hover span {
  background-color: white;
  color: blue;
  text-decoration: none;
}

footer {
  display: flex;
  font-size: 21px;
  flex-direction: row;
  line-height: 28px;
  padding: 0 0 72px;
}

footer h2 {
  margin: 24px 32px 0 0;
}

footer h2:hover {
  background-color: white;
  color: blue;
  cursor: pointer;
}

footer h2.email-2 {
  display: none;
}

@media only screen and (max-width: 948px), /*620 + 48px*/
only screen and (min-device-width : 320px) and (max-device-width : 720px) and (orientation : portrait),
only screen and (min-device-width : 320px) and (max-device-width : 720px) and (orientation : landscape) {

  a.work h1 {
    width: 100%;
  }
}
