@font-face {
    font-family: 'space_monoregular';
    src: url('font/SpaceMono-Regular-webfont.eot');
    src: url('font/SpaceMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/SpaceMono-Regular-webfont.woff') format('woff'),
         url('font/SpaceMono-Regular-webfont.ttf') format('truetype'),
         url('font/SpaceMono-Regular-webfont.svg#space_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space_monobold_italic';
    src: url('font/SpaceMono-BoldItalic-webfont.eot');
    src: url('font/SpaceMono-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/SpaceMono-BoldItalic-webfont.woff') format('woff'),
         url('font/SpaceMono-BoldItalic-webfont.ttf') format('truetype'),
         url('font/SpaceMono-BoldItalic-webfont.svg#space_monobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  font-family: 'space_monoregular', monospace;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 32px;
  line-height: 48px;
}

h2 {
  font-size: 24px;
  line-height: 40px;
}

h3 {
  font-size: 21px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 32px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover span {
  background-color: black;
  color: white
}

main {
  width: 1072px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1072px;
  margin: 0 auto;
  padding: 24px 0;
  border-bottom: 2px solid black;
}

header nav a {
  margin-left: 32px;
}

.header-left {
  display: flex;
}

.header-left:hover {
  background-color: black;
  color: white;
}

.header-left:hover .arrow {
  background:url('images/arrow-white.png') no-repeat center;
  background-size:cover;
}

.arrow {
  height: 32px;
  width: 32px;
  background:url('images/arrow.png') no-repeat center;
  background-size:cover;
  margin-right: 12px;
}

footer {
  width: 1072px;
  margin: 0 auto;
  padding: 24px 0;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
}

footer a {
  margin-left: 32px;
}

footer span.copyright {
  top: 4px;
  position: relative;
}

footer h3 {
  font-size: 18px;
  line-height: 32px;
}

footer a:hover h3 {
  background-color:black;
  color:white;
}

nav.darkmode-footer a:hover {
  background-color: white;
}

nav.darkmode-footer a:hover span{
  background-color: white;
  color: black;
}

nav {
    display: flex;
}

.intro {
  width: 1072px;
  margin: 24px auto;
  text-align: justify;
}

.intro a{
  text-decoration: underline;
}

.intro a:hover {
  background-color:black;
  color: white;
}

.grid {
  width: 520px;
  height: 520px;
  background: #efefef;
  float: left;
  margin-bottom: 24px;
  cursor: pointer;
  position: relative;
}

.grid-full {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.grid-half {
  width: 520px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 48px;
  float: left;
}

.grid-border {
  height: calc(100% - 6px);
  height: -webkit-calc(100% - 6px);
  height: -moz-calc(100% - 6px);
  width: calc(100% - 6px);
  width: -webkit-calc(100% - 6px);
  width: -moz-calc(100% - 6px);
  border: 3px solid black;
  position: absolute;
  display: none;
}

a.grid-half:hover .grid-border {
  display: block;
}

.grid-half .grid-images {
  height: 520px;
  width: 520px;
}

.grid-full .grid-images {
  width: 100%;
}

.grid-half .grid-images-bleed {
  width: initial;
  margin-left: -25%;
}

.grid-title {
  margin-top: 476px;
  position: absolute;
  bottom: 8px;
  display: none;
}

.grid-title span {
  color: white;
  padding: 8px 16px;
}

a.grid-half:hover .grid-title {
  display: block;
}

.grid-full .grid-image-container {
  width: 100%;
  height: 700px;
  background-color: #efefef;
}

.grid-half .grid-image-container {
  width: 520px;
  height: 520px;
  background-color: #efefef;
  overflow: hidden;
}

.grid-image-gif {
  border: 2px solid #DADCE0;
  display: flex;
  align-items: center;
  background-color: white !important;
}

.grid-image-gif .grid-images {
  height: 425px;
  width: 425px;
  margin: 0 auto;
}

.grid-description {
  margin-top: 8px;
  text-align: justify;
}

.grid-description-title {
  font-family: 'space_monobold_italic', monospace;
}

a.grid-description-link {
  text-decoration: underline;
}

a.grid-description-link span:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.grid-seperator {
  height: 520px;
  width: 32px;
  float: left;
}

.darkmode {
  background-color: black;
  color: white;
}

.darkmode header {
  border-bottom: 2px solid white;
}

.darkmode header a {
  color: white;
}

.darkmode header a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.darkmode a {
  color: white;
}

.darkmode a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.about {
  margin-top: 48px;
}

.about a {
  display: flex;
  justify-content: space-between;
}

.about a:hover .about-arrow {
  height: 40px;
  width: 40px;
  background: url('img/arrow-black-right.png') no-repeat center;
  background-size: cover;
  margin-top: 4px;
}

.about-arrow {
  height: 40px;
  width: 40px;
  background: url('images/arrow-white-right.png') no-repeat center;
  background-size: cover;
  margin-top: 4px;
}

.about a:focus .about-arrow {
  height: 40px;
  width: 40px;
  background: url('img/arrow-black-right.png') no-repeat center;
  background-size: cover;
  margin-top: 4px;
}

.about a:focus {
  background-color: white;
  outline: none;
}

.about a:focus h1 {
  color: black;
}

.about-section {
  padding: 32px 0;
  border-bottom: 2px solid white;
}

.about-section:first-child {
  border-top: 2px solid white;
}

.about-section h1 {
  width: calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
}

@media only screen and (max-width: 1120px),
only screen and (min-device-width : 320px) and (max-device-width : 720px) and (orientation : portrait),
only screen and (min-device-width : 320px) and (max-device-width : 720px) and (orientation : landscape) {

  body {
    margin: 0 24px;
  }

  header, .intro, main, footer {
    width: 100%;
  }

  .grid-full .grid-image-container {
    height: initial;
  }

  .grid-seperator {
    display: none;
  }

  .grid-half {
    width: 100%;
  }

  .grid-half .grid-image-container {
    width: initial;
    height: initial;
  }

  .grid-half .grid-image-container .grid-images {
    display: flex;
    margin: 0 auto;
  }

  a.grid {
    width: 100%;
  }

  .grid-half .grid-images-bleed {
    width: 100%;
    height: initial;
  }

  .grid-image-mobile-right .grid-images {
    margin: initial !important;
    float: right;
  }

  .grid-image-mobile-left .grid-images {
    margin: initial !important;
  }
}

@media only screen and (max-width: 568px), /*520 + 48px*/
only screen and (min-device-width : 320px) and (max-device-width : 720px) and (orientation : portrait),
only screen and (min-device-width : 320px) and (max-device-width : 720px) and (orientation : landscape) {

  h1 {
    font-size: 28px;
    line-height: 40px;
  }

  h3 {
    font-size: 18px;
    line-height: 32px;
  }

  h4 {
    line-height: 28px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  header nav a{
    margin-left: 24px;
  }

  .intro {
    text-align: left;
  }

  .grid-half .grid-image-container .grid-images {
    height: initial;
    width: 100%;
  }

  .grid-description {
    text-align: left;
  }

  a.grid-description-link {
    display: block;
    margin-top: 8px;
  }

  .header-left h3 {
    display: none;
  }

  .header-left .arrow {
    margin: 0;
  }

  footer .left-footer {
    display:none;
  }

  footer nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  footer nav a{
    margin: 0 32px 0 0;
  }
}
