html, body {
  background: #FAFAFA;
  color: #001837;
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  line-height: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  background: white;
  padding: 100px 0 74px 0;
}

.interior {
  width: 620px;
  margin:0 auto;
  background: white;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.new {
  background: blue;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;
  margin-left: 20px;
  padding: 2px 6px;
  position: relative;
  top: -3px;
}

p {
  margin-bottom: 36px;
}

.strike {
  text-decoration: line-through;
}

.footer {
  background: #FAFAFA;
  margin: 0 auto;
  padding: 100px 0 100px 0;
  width: 620px;
}

a.footer-link:first-child {
  display: block;
  padding-bottom: 36px;
}

@media only screen and (max-width: 720px), /*620 + 60px*/
only screen and (min-device-width : 320px) and (max-device-width : 720px) and (orientation : portrait),
only screen and (min-device-width : 320px) and (max-device-width : 720px) and (orientation : landscape) {
  
  .center {
    padding: 50px 0 14px;
  }
  
  .interior {
    padding: 0;
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: -o-calc(100% - 100px);
    width: -ms-calc(100% - 100px);
  }
  
  .footer {
    padding: 50px 0 50px;
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: -o-calc(100% - 100px);
    width: -ms-calc(100% - 100px);
  }
}
